
@{
    ViewBag.Title = "Nosotros";
}
<div class="asesoria-title">
    <h2>Nosotros</h2>
</div>

<div class="nosotros-container row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <img src="~/Content/img/abogados/andresMolina.jpg" class="card-img-top" alt="...">
            
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/Content/img/abogados/scarletteIglesias.jpg" class="card-img-top" alt="...">
            
        </div>
    </div>
</div>